body{
    background-color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Roboto-MediumItalic;
    src: url(../fonts/Roboto-MediumItalic.ttf);
}
@font-face {
    font-family: Roboto-Bold;
    src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
    font-family: Roboto-Light;
    src: url(../fonts/Roboto-Light.ttf);
}
/* Header */
header{
    background-color: #a6051a;
    color: #fff;
    padding: 10px;
    font-size: 20px;
    height: 100px;
    /*width: 100%;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 30px;
    font-weight: 700;
    margin-left: 50px;
}
.logo img{
    width: 30%;
}
.dropbtn {
    background-color: #3e92cc;
    color: #2c2c2c;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 16px;
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    border-radius: 10px;
    margin-right: 70px;
  }
.dropbtn:hover, .dropbtn:focus {
    background-color: #a6051a;
    transition: 0.6s;
  }

.dropdown {
    position: relative;
    display: inline-block;
    transition: 0.4s;
  }
  

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #a6051a;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: 0.4s;
  }
  

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
 
.dropdown-content a:hover {
    background-color: #3e92cc;
    transition: 0.4s;
}


.dropdown:hover .dropdown-content {display: block;}
  

.dropdown:hover .dropbtn {background-color: #a6051a;
  color: white;
}

/* Main */
.main{
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(/Showcase/showcase3.webp);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 50px;
    font-weight: 700;
    font-family: 'Roboto-Light';	
}
.main p{
    font-size: 25px;
    font-family: 'Roboto-Bold';
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    text-justify: inter-word;
    color: #fffaff;
    animation-name: moveinRight;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}

.main h2{
  color: #fffaff;
  animation-name: moveinLeft;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}

/* Showcase and cards*/

.showcase {
  display: flex;
  min-height: 300vh;
  background-color: #3e92cc;
}

/* Left Showcase */
.leftShowcase {
  width: 50%;
  display: flex;
  flex-direction: column;
  border-right: 2px solid #1e1b18;
  justify-content: space-evenly;
  border-top: #1e1b18 2px solid;
  border-bottom: #1e1b18 2px solid;
}
/* Right showcase */
.rightShowcase{
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: space-evenly;
  border-top: #1e1b18 2px solid;
  border-bottom: #1e1b18 2px solid;
}

/* Cards */
.flip-card{
  display: flex;
  align-self: center;
  justify-content: center;
  background-color: #fff;
  height: 25%;
  width: 55%;
  padding: 1rem;
  margin: 1rem;
  border: 2px solid #1e1b18;
  perspective: 1000px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.3);
}

.flip-card-inner{
  position: absolute;
  }

.flip-card-back{
  position: absolute;
  top: 30px;
  transition: .5s all;
  box-sizing: border-box;
  top: 325px;
  width: 100%;
}

.flip-card-back p{
  position: relative;

}
.flip-card-back a{
  position: relative;
  right: 20px;
}

.flip-card-back p, .flip-card-back a{
  font-size: 20px;
  opacity: 0;
  visibility: hidden;
  transition: ease .3s;

}
.flip-card-inner:hover{
  cursor: pointer;
}
.flip-card-inner:hover p, .flip-card-inner:hover a{
  opacity: 1;
  visibility: visible;
  transform: translateY(-10px)
}

.flip-card-inner:hover .flip-card-front{
  opacity: 0;
  visibility: hidden;
  transition: all 1s;
  transform: translateY(-50px);
}
.flip-card img{
  border: 1px solid black;
  height: 250px;
  width: 300px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3) ;
}
.flip-card h1{
  text-align: center;
  color: #3e92cc;
}

.flip-card a{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 35%;
  margin-top: 30%;
  text-decoration: none;
  text-transform: capitalize;
  color:#1e1b18;
  height: 40px;
  width: 125px;
  border: 2px solid black;
  background-color: #3e92cc;
  border-radius: 7px;
}

.flip-card a:hover {
  background-color: #d8315b;
  transform: translateY(-15px);
  transition: all .3s;

}

.flip-card a:active{
  transform: translateY(-10px);
}

.flip-card p {
  text-align: center;
  color: #1e1b18;
}

  /* Animations */

  @keyframes moveinLeft {
    0%{
      opacity: 0;
      transform: translateX(-10rem);
    }

    50%{
      transform: translateX(1rem);
    }
  
   100% {
    opacity: 1;
    transform: translate(0);
   }
  }

  @keyframes moveinRight {
    0%{
      opacity: 0;
      transform: translateX(10rem);
    }

    50%{
      transform: translateX(-1rem);
    }
  
   100% {
    opacity: 1;
    transform: translate(0);
   }
  }
  /* Footer */
  footer{
    background-color: #a6051a;
    color: #fff;
    padding: 10px;
    font-size: 20px;
    height: 30vh;
  }

.material-symbols-outlined {
  position: relative;
  left: 9.7%;
  top: 5%;
  width: 20px;
  padding: 14px;
  font-size: 25px;
  color: black;
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

footer {
 display: flex;
  
}

.Person1{
  width: 50%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);

}

.Person1 .PersonName{
  display: grid;
  grid-template-columns: repeat(3, 1fr);

}

.Person1 .PersonMail{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.Person1 .PersonContact{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
}

.Person2{
  width: 50%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.Person2 .PersonName{
  display: grid;
  grid-template-columns: repeat(3, 1fr);

}

.Person2 .PersonMail{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.Person2 .PersonContact{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
}

@media (max-width:500px){


  .dropbtn{
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 20px;
    font-family: 'Roboto-Bold';
  }
  #logo{
    height: 50px;
    width: 110px;
  }
  .dropdown-content{
    font-size: 15px;
    min-width: 80px;
  }

  .dropdown-content a{
    font-size: 15px;
  }

  .main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
  }

  .main h2{
    font-size: 20px;
  }
  .main p{
    font-size: 15px;
  }


  .showcase{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 300vh;
  }
  .leftShowcase{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: none;
  }

  .rightShowcase{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: none;
  }
  
  .flip-card{
    width: 250px;
    height: 525px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 8px;
  }

  .flip-card-front img{
    width: 200px;
    height: 200px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    border-radius: 8px;
  }

  .flip-card-front {
    display: flex;
    flex-direction: column;
    position: relative;
   
  }

  .flip-card-back {
    display: flex;
    flex-direction: column;   
    align-items: center;
    justify-content: flex-start;
  }

  .flip-card-back a{
    text-align: center;
    margin-left: 25%;
    margin-right: auto;
    height: 40px;
    width: 125px;
    border-radius: 8px;
  }

  .flip-card-back p{
    padding: 0;
    margin: 10px;
  }

  footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 650px;
  }

  .PersonName{
    display: grid;
    
  }

  
}


@media (width:768px){

   .main{
     text-align: center;
   }

   .main h2{
    font-size: 50px;
   }
   
   
   .showcase {
    min-height: 200vh;
   }
   .flip-card {
    height: 570px;
    width: 80%;
    border-radius: 7px;
   }
   
   .flip-card a{
     height: 40px;
      width: 125px;
      border-radius: 7px;
      margin-left: 33%;
    }
   .flip-card-back {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
   
  .flip-card-back p{
    padding: 5px;
    margin: 0 5px;
  }
  
  .flip-card {
    transition: all .1s;
  }

  .flip-card-inner:hover p, .flip-card-inner:hover a{
  opacity: 1;
  visibility: visible;
  transform: translateY(-10px);
}

 .flip-card-inner:hover .flip-card-front::before{
  pointer-events: none;
 }
.flip-card-inner:hover .flip-card-front{
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: all 1s;
  transform: translateY(-50px);
}

footer{
  height: 30vh;
  position: relative;
  display: flex;
  align-items: center;
  
}


}